$borderRadius: 12px;

:root {
  font-family: Inter;
}

html {
  font-size: 16px;
}

#workspace {
  padding-left: 180px;
  a {
    text-decoration: none;
    color: var(--p-primary-color);
  }

  a:hover {
    border-bottom: 1px solid var(--p-primary-color);
    padding-bottom: 2px;
  }
}

#workspace.collapsed {
  padding-left: 50px;
}

#workspace.onmobile {
  padding-left: 50px;
}

@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}

.card {
  padding: 1rem;
  color: var(--p-text-color);
  margin-bottom: 1rem;
  border-radius: $borderRadius;
  box-shadow: 0 3px 5px rgba(0,0,0,.02), 0 0 2px rgba(0,0,0,.05), 0 1px 4px rgba(0,0,0,.08) !important;

  h2 {
    color: var(--p-primary-color);
  }

}


.p-tiptap  {
  strong {
    color: var(--p-primary-color);
  }
}
